body {
    min-width: 320px; 
}

header {
    min-width: 320px; 
}

main {
    width: 100%;
}

.about__text {
    width: 90%;
}

.header__block--contact {
    display: none;
}

.main__container-setting {
    display: none;
}

@media only screen and (min-width: 768px) {
    body {
        min-width: 768px; 
    }
    
    header {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    
    main {
        padding-top: 5%;
    }

    .header__block--contact_settings {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .header__block--contact {
        display: flex;
        row-gap: 10px;
    }

    .main__about {
        display: inline-flex;
        flex-direction: row;
        gap: 5%;
    }
    
    .about__text {
        width: 90%;
    }


    .main__text {
        max-height: 160px; 
        width: 312px;

    }

    .main__expand {
        direction: flex;
        flex-direction: row;

    }

    .header__menu--icon::after {
        display: none;
    }

    .button--menu::after, .header__block--contact::after {
        content: url("../svg/divider.svg");
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        width: 2px;
        height: 32px;
        margin-left: 15px; 
    }
}

@media only screen and (min-width: 1120px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    header {
        display: none;
    }

    .main__text {
        width: 490px;
        height: auto;
        overflow: visible; 
        padding-left: 50px;
    }

    .main__expand {
        padding-left: 50px;
        padding-top: 20px;
    }

    div.main__img {
        margin-right: 50px;
    }

    .main__title {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        width: 100%; 
    }
    
    .main__title-name {
        margin-top: 30px;
    }
    
    .main__container-setting {
        display: flex;
        margin-top: 30px;
        gap: 25px;
        margin-right: 50px;
        align-items: center;
    }

    .main__repairs {
        display: flex;
        align-items: center;
        align-self: center;
        vertical-align: middle;
    }

    .main__status-request {
        display: flex;
        align-items: center;
    }

    .main__navigator {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        justify-content: flex-start;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .main__item {
        margin-top: 20px;
    }
}